.nav-link:focus, .nav-link:hover{
    color: brown;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: brown;
}

.h4{
    position: relative;
}

.h4::after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: black;
}

.carousel-item img{
    transform: translateY(50%);
}

.carousel-indicators [data-bs-target]{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-indent: 0;
    overflow: hidden;
}

